body {
  background-color: #1c1c1c;
  margin: 32px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: tomato;
  font-size: 42px;
  
}

/* Basic card styling */
.card {
  background-color: rgba(255, 255, 255, 0);
  border-radius: 10px;
  width: auto;
  height: auto;
  text-decoration: none;
  color: black;
}

/* The text part of the card */
.card-content {
  padding: 20px;
}

.card-title {
  font-size: 42px;
  line-height: 40px;
  font-weight: bold;
  margin-bottom: 3px;
  color: aliceblue;
}

.card-description {
  font-size: 24px;
  color: #b8b6b6;
}
.card:hover {
  color: #d84747;
  background-color: rgba(216, 71, 71, 0.1);
  border: 2px solid #d84747;
}
